<div class="animated fadeIn fast" id="jumbosPaginas">
    <div class="portada">
        <img src="../../../assets/img/dragonball-logo.png" style="min-width: 30%; max-width:40%;">
    </div>


    <div class="container">
        <p id="textoSagas" class="lead text-dark font-weight-normal">Toei Animation produjo la adaptación al anime de Dragon Ball, cuya animación estuvo a cargo de Studio Live, Astroimpact, Inc, Bird Studio y Shūeisha, dirigida por Daisuke Nishio y Minoru Okazaki y musicalizada por Shunsuke Kikuchi. Varios de los
            integrantes del equipo de producción habían colaborado antes con Toriyama en Dr. Slump.​ <br><br> El mangaka colaboró en la producción como asistente en el diseño e iluminación de los personajes. Fuji Television transmitió originalmente el
            anime de 153 episodios en total, basados en la primera parte del manga que narra las aventuras de Gokū en su infancia, desde el 26 de febrero de 1986 hasta el 19 de abril de 1989.</p>

    </div>



    <br>
    <hr>
    <h1 class="display-4 text-center">Galería</h1>
    <hr>
    <br>


    <div class="container" style="padding-bottom: 50px;">

        <div class="card-columns">

            <div class="card" *ngFor="let imagen of imagenes">
                <img class="card-img-top" [src]="imagen.imgdb" alt="Card image cap">




            </div>


        </div>

    </div>








    <div id="reproductor">
        <mat-basic-audio-player [audioUrl]="msbapAudioUrl " [autoPlay]="true " [displayVolumeControls]="true "></mat-basic-audio-player>
    </div>


</div>