<div class="jumbotron jumbotron-fluid fadeIn fast" id="jumboAbout">
    <div class="container-fluid">
        <h1 class="display-4 animated fadeIn text-light" style="text-shadow: 0 0 10px black;">Acerca de Dragon Ball App</h1>
        <p class="lead text-light" style="text-shadow: 0 0 20px, 0 0 5px black;" style="padding-top: 40px; ">Esta es una aplicación desarrollada por mí desde cero con el objetivo de practicar el manejo de Angular.<br> ¡Espero que la disfrutes!</p>


    </div>

</div>
<footer style="background-color: white; position:relative; bottom:0;">

    <div class="center">
        <a href="https://github.com/Lithos-hub">
            <img src="../../../assets/img/github.png" width="200px" style="display:block; margin: auto; cursor: pointer;">
        </a>
    </div>

</footer>