<div class="jumbotron jumbotron-fluid animated fadeIn fast" style="margin-bottom:50px;">
    <h1 class="text-dark text-center" style="padding-top:10px;margin: 0 auto;">Películas y OVAs<br><br> <img src="assets/img/dmdb.png " class="card-img" style="height:50px; width: auto; border-radius: 10px;"></h1>
</div>

<div class="container" *ngIf="peliculasdb">

    <!-- DRAGON BALL -->

    <div class="text-center">
        <h1 class="display-4"><img src="assets/img/bola-dragon.png" width="50px" height="auto" style="padding-bottom: 10px;"> Dragon Ball <img src="assets/img/radar.png" width="60px" height="auto" style="padding-bottom: 10px;"> </h1>
    </div>
    <hr>

    <!-- <app-ficha-peliculas *ngFor="let pelicula of peliculasdb" [index]="i"></app-ficha-peliculas> -->

    <div class="card mb-3" *ngFor="let peliculas of peliculasdb">
        <div class=" row no-gutters ">
            <div class="col-md-3 ">
                <img [src]="url + peliculas.poster_path" class="card-img" style="height:350px; width: auto;">
            </div>
            <div class=" col-md-9 ">
                <div class="card-body ">
                    <h5 class="card-title ">{{ peliculas.title }}</h5>
                    <p class="card-text text-justify ">{{ peliculas.overview }}</p>
                    <p class="card-text "><small class="text-muted ">Año de lanzamiento: {{ peliculas.release_date | date:'yyyy'}}</small></p>
                    <br>
                    <br>
                    <p class="card-text "><small class="lead ">Puntuación: {{ peliculas.vote_average }} / 10 </small></p>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- DRAGON BALL Z -->

<div class="container " *ngIf="peliculasz ">


    <div class="text-center ">
        <h1 class="display-4 "><img src="assets/img/bola-dragon.png " width="50px " height="auto " style="padding-bottom: 10px; "> Dragon Ball Z / GT <img src="assets/img/radar.png " width="60px " height="auto " style="padding-bottom: 10px; "> </h1>
    </div>

    <hr>

    <div class="card mb-3" *ngFor="let peliculas of peliculasz">
        <div class=" row no-gutters ">
            <div class="col-md-3 ">
                <img [src]="url + peliculas.poster_path" class="card-img" style="height:350px; width: auto;">
            </div>
            <div class=" col-md-9 ">
                <div class="card-body ">
                    <h5 class="card-title ">{{ peliculas.title }}</h5>
                    <p class="card-text text-justify ">{{ peliculas.overview }}</p>
                    <p class="card-text "><small class="text-muted ">Año de lanzamiento: {{ peliculas.release_date | date:'yyyy'}}</small></p>
                    <br>
                    <br>
                    <p class="card-text "><small class="lead ">Puntuación: {{ peliculas.vote_average }} / 10 </small></p>

                </div>
            </div>
        </div>
    </div>

</div>