<!-- Jumbotron -->


<div class="jumbotron jumbotron-fluid container-fluid animated fadeIn fast" id="jumboHome">
    <div class="container">
        <h1 class="display-3 text-light" style="text-shadow: 0 0 10px black;">Dragon Ball App</h1>
        <p class="lead text-light" style="text-shadow: 0 0 10px black;">Una enciclopedia visual del mítico anime</p>
    </div>
</div>

<!-- Body -->


<div class="container animated fadeIn ">
    <div class="row ">
        <div class="col ">
            <div class=" card-group ">
                <div class="card">

                    <a href="dragonball">
                        <img src="assets/img/dragonball-wall.jpg " class="card-img-top " id="wall">
                    </a>

                    <div class="card-body ">
                        <!-- <h5 class="card-title text-center ">DRAGON BALL</h5> -->
                        <img src="assets/img/dragonball-logo.png " class="card-img-top " id="logos" alt="... ">

                        <hr>
                        <p class="card-text text-justify ">La primera saga del manga y anime donde se narran las aventuras de un pequeño Goku, un guerrero saiyajin, cuyo fin es proteger a la Tierra de otros seres que quieren conquistarla y exterminar a la humanidad. Conforme transcurre
                            la trama, conoce a otros personajes que le ayudan en este propósito. El nombre de la serie proviene de unas esferas mágicas que al ser reunidas invocan a un dragón que concede deseos.</p>
                    </div>
                </div>
                <div class="card ">
                    <a href="dragonball-z">
                        <img src="assets/img/dragonballz-wall.jpg " class="card-img-top " id="wall" alt="... ">
                    </a>
                    <div class="card-body ">
                        <!-- <h5 class="card-title text-center ">DRAGON BALL Z</h5> -->
                        <img src="assets/img/dragonballz-logo.png " class="card-img-top " id="logos" alt="... " style="padding-top:40px; ">
                        <hr>
                        <p class="card-text text-justify ">Continuando con la adaptación del manga, la serie narra la aventura de la vida adulta de Son Goku quien, con sus compañeros defiende la tierra contra varios villanos. Mientras que la serie original, Dragon Ball, narra la historia
                            de la infancia hasta la adultez, Dragon Ball Z es la continuación de la vida adulta que lleva Goku, paralelamente narra la madurez de su hijo, Gohan.</p>
                    </div>
                </div>
                <div class="card ">
                    <a href="dragonball-gt">
                        <img src="assets/img/dragonballgt-wall.jpg " class="card-img-top " id="wall" alt="... ">
                    </a>
                    <div class="card-body ">
                        <!-- <h5 class="card-title text-center ">DRAGON BALL GT</h5> -->
                        <img src="assets/img/dragonballgt-logo.png " class="card-img-top " id="logos" alt="... " style="padding-bottom:5px; ">
                        <hr>
                        <p class="card-text text-justify ">Todo comienza 5 años después de que Son Goku se haya ido a entrenar con Oob. Pilaf logró encontrar las Esferas del Dragón Definitivas (cuya principal característica es que tienen sus respectivas estrellas de color negro dibujadas
                            en su superficie) y accidentalmente convierte a Son Goku en un niño.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>