<div class="animated fadeIn fast" id="jumbosPaginas">
    <div class="portada">
        <img src="../../../assets/img/dragonballgt-logo.png" style="min-width: 30%; max-width:40%;">
    </div>

    <div class="container">
        <p id="textoSagas" class="lead text-dark font-weight-normal">Tras la culminación del manga y de Dragon Ball Z, y ante la negativa del autor a continuar con la historia, Toei Animation produjo una serie original como continuación de Dragon Ball Z con el título de Dragon Ball GT, dirigida por Osamu Kasai,
            musicalizada por Akihito Tokunaga, y transmitida por Fuji Television desde el 2 de febrero de 1996 hasta su conclusión el 19 de noviembre de 1997, después de un total de 64 episodios emitidos. <br> <br> El reparto de voces en japonés contó
            una vez más con Nozawa como Gokū y Kusao como Trunks, además de Yūko Minaguchi como Pan.</p>
    </div>


    <br>
    <hr>
    <h1 class="display-4 text-center">Galería</h1>
    <hr>
    <br>

    <div class="container" style="padding-bottom: 50px;">

        <div class="card-columns">

            <div class="card" *ngFor="let imagen of imagenes">
                <img class="card-img-top" [src]="imagen.imgdbgt" alt="Card image cap">
            </div>


        </div>

    </div>

    <div id="reproductor">
        <mat-basic-audio-player [audioUrl]="msbapAudioUrl" [autoPlay]="true" [displayVolumeControls]="true"></mat-basic-audio-player>
    </div>
</div>