<div class="animated fadeIn fast" id="jumbosPaginas">
    <div class="portada">
        <img src="../../../assets/img/dragonballz-logo.png" style="min-width: 30%; max-width:40%;">
    </div>

    <div class="container">
        <p id="textoSagas" class="lead text-dark font-weight-normal">La continuación de Dragon Ball que relata las aventuras de Gokū en su etapa adulta se estrenó el 26 de abril de 1989 en Fuji Television. Fue producida también por Toei Animation y animada por los mismos estudios que la serie predecesora. <br>            <br> Nishio volvió como director, al igual que Kikuchi como responsable de la composición musical.116​ Está basada en los 26 volúmenes del manga que no fueron cubiertos por el otro anime. Tuvo un total de 291 episodios, y su transmisión concluyó
            el 31 de enero de 1996.</p>
    </div>

    <hr><br>
    <h1 class="display-4">Galería</h1>



    <div id="reproductor">
        <mat-basic-audio-player [audioUrl]="msbapAudioUrl" [autoPlay]="true" [displayVolumeControls]="true"></mat-basic-audio-player>
    </div>
</div>