    /* Animaciones */
    
    .animated {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .fast {
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .fadeIn {
        animation-name: fadeIn;
    }
    
    @keyframes powerCard {
        0% {
            box-shadow: 0 0 10px rgba(255, 242, 54, 0.8), 0 0 5px rgba(255, 145, 0, 0.8), 0 0 15px rgba(255, 198, 124, 0.8), 0 0 8px rgba(253, 250, 71, 0.8), 0 0 20px rgba(255, 193, 60, 0.8), 0 0 15px rgba(255, 163, 43, 0.5), 0 0 21px rgba(255, 238, 84, 0.5), 0 0 14px rgba(215, 255, 40, 0.5), 0 0 20px rgba(255, 217, 46, 0.5);
        }
        100% {
            box-shadow: 0 0 2px rgba(255, 160, 51, 0.8), 0 0 8px rgba(255, 215, 35, 0.8), 0 0 10px rgba(255, 110, 25, 0.8), 0 0 4px rgba(228, 255, 75, 0.8), 0 0 16px rgba(220, 166, 66, 0.8), 0 0 14px rgba(220, 135, 66, 0.8), 0 0 5px rgba(216, 189, 36, 0.5), 0 0 8px rgba(255, 244, 85, 0.5);
        }
    }
    /*  Elementos */
    
    body {
        padding-bottom: 50px;
    }
    
    .jumbotron {
        background-color: #efa732;
        text-align: center;
        margin-bottom: 0;
    }
    
    #wallAbout {
        position: relative;
    }
    
    #wall:hover {
        -webkit-filter: sepia(70%);
        transition: 0.5s;
        cursor: pointer;
    }
    
    .sepia {
        -webkit-filter: sepia(70%);
    }
    
    #logos {
        display: block;
        margin: auto;
        width: 100%;
        padding: 15px;
    }
    
    #jumboHome {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/jumbotronwall.jpg);
        background-position: 50%;
        background-size: cover;
    }
    
    #jumboAbout {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/jumbotronwall2.jpg);
        background-size: cover;
        height: 800px;
        padding-top: 200px;
        background-position: center;
        border-bottom: 5px solid black;
    }
    
    #jumbosPaginas {
        text-align: center;
        height: 100px;
        bottom: 0;
        margin: 0 auto;
        position: relative;
    }
    
    .portada {
        background-color: #efa732;
        padding-top: 20px;
        padding-bottom: 40px;
        margin: 0;
    }
    
    #volumenBoton {
        background-color: transparent;
        border-style: hidden;
        position: relative;
        color: #efa732;
        cursor: pointer;
    }
    
    #volumenBoton:focus {
        outline: none;
        box-shadow: none;
    }
    
    #reproductor {
        background-color: #efa732;
        margin-top: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    #textoSagas {
        padding-top: 100px;
        bottom: 0;
    }
    
    #imagenPersonaje {
        object-fit: contain;
        max-height: 400px;
    }
    
    #tarjetaPersonaje:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 0 0 5px black, 0 0 25px #efa732;
        transition: all 1s ease-in-out;
        z-index: 99;
        animation: powerCard 0.05s infinite alternate ease-in-out;
    }
    
    #imagenTransformacion {
        object-fit: contain;
        max-height: 400px;
    }
    
    #tarjetaTransformacion:hover {
        transform: scale(1.1);
        box-shadow: 0 0 5px black, 0 0 25px #efa732;
        transition: all 1s ease-in-out;
        z-index: 99;
        animation: powerCard 0.05s infinite alternate ease-in-out;
    }
    
    #etiquetaPersonaje {
        color: orange;
        transform: rotate(45deg);
        left: 20px;
        top: 0px;
        position: absolute;
        border: none;
    }
    
    #etiquetaTransformacion {
        text-align: center;
        color: #343A40;
        transform: rotate(45deg);
        right: 20px;
        top: 0px;
        position: absolute;
        border: none;
    }
    
    #indicaPersonaje {
        color: orange;
        left: 20px;
        top: 40px;
        position: absolute;
    }
    
    #indicaTransformacion {
        text-align: center;
        color: #343A40;
        right: 2px;
        top: 40px;
        position: absolute;
    }