<div class="jumbotron jumbotron-fluid animated fadeIn fast" style="margin-bottom:50px;">
    <h1 class="text-dark text-center" style="padding-top:10px;padding-bottom:10px;margin: 0 auto;">Personajes<br><small> Dragon Ball / Z / GT </small></h1>
</div>

<div class="container">
    <div class="card-columns animated fadeIn fast ">

        <app-personaje-tarjeta (personajeSeleccionado)="verPersonaje( $event )" [personaje]="personaje" [index]="i" *ngFor="let personaje of personajes; let i = index"></app-personaje-tarjeta>

    </div>
</div>